a {
  text-decoration: none; 
  color: #1890ff;
}

.menu {
  padding: 0 20px;
  border-bottom: solid 1px #e8e8e8;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
}

.menu__logo {
  width: 150px;
  float: left;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_right {
  padding: 10px 25px;
  float: right;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
  background: #3e91f7;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_right {
    display: none;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }
}

.dot {
  height: 10px;
  width: 10px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

.dot.dot_idle {
  background-color: rgb(61, 238, 61);
}

.dot.dot_inQueue {
  background-color: rgb(238, 238, 41);
}

.dot.dot_inRoom {
  background-color: rgb(230, 62, 62);
}