@keyframes glow_servant {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e613, 0 0 40px #00e696, 0 0 50px #00e696, 0 0 60px #00e6cf, 0 0 70px #00e6d7;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #74ff4d, 0 0 40px #5cff4d, 0 0 50px #4dff77, 0 0 60px #4dffc7, 0 0 70px #4df6ff, 0 0 80px #4df6ff;
    }
}

.glow_servant {
    /* font-family: cursive; */
    -webkit-animation: glow_servant 1s ease-in-out infinite alternate;
    -moz-animation: glow_servant 1s ease-in-out infinite alternate;
    animation: glow_servant 1s ease-in-out infinite alternate;
}

@keyframes glow_client {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.glow_client {
    /* font-family: cursive; */
    -webkit-animation: glow_client 1s ease-in-out infinite alternate;
    -moz-animation: glow_client 1s ease-in-out infinite alternate;
    animation: glow_client 1s ease-in-out infinite alternate;
}

.glow {
    font-family: 'Pangolin';
    font-size: 40px;
    color: black;
    text-align: center;
}